<html ng-app="lanInfo">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
<script src="js/functions.js"></script>
</head>
<body>
Table
<!--
//require('libs/pdo.php');
require('libs/functions.php');

    $sql =  'SELECT ip, smbName, upnpName FROM hosts ORDER BY ip asc';
	$hosts = new Hosts();
	//print_r($hosts->liste->fetchAll());
print "<table border='1'>";
    foreach ($hosts->liste as $row) {
        print "<tr><td>".$row['ip'] . "</td>";
        print  "<td>".$row['smbName'] . "</td>";
        print "<td>".$row['upnpName'] . "</td></tr>";
  }
print "</table>";

-->

<div ng-controller="DispHosts">
    <p>    Click <a ng-click="loadHosts()">here</a> to load data.</p>
	{{hosts}}
<table border='1'>
    <tr>
        <th>IP</th>
        <th>SMB Name</th>
        <th>UPNP Name</th>
    </tr>
    <tr ng-repeat="host in hosts">
        <td>{{host.ip}}</td>
        <td>{{host.smbName}}</td>
        <td>{{host.upnpName}}</td>
    </tr>
</table>
</div>

</body>
</html>